fastapi
uvicorn
python-multipart
langchain
langchain-openai
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
faiss-cpu
openai
pypdf
python-dotenv
sentence-transformers
groq